@import 'IOSPhone.css';

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  width: 105px;
  margin-bottom: 2.5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  gap: 5px;
}

.btn {
  color: white;
  font-size: 1.25rem;
  background-color: #333;
  border-radius: 1000000000px;
  border: none;
  width: 35px;
  height: 35px;
}

.btn-AC {
  color: #333;
  background-color: rgb(179, 179, 179);
  font-size: 1rem;
}

.btn-plus,
.btn-equals {
  background-color: orange;
}

.btn-plus:hover,
.btn-equals:hover {
  color: orange;
  background-color: white;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}
