* {
  box-sizing: border-box;
}

.IOSPhone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone-number-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  height: 75px;
  width: 250px;
  color: white;
}

.phone-number {
  height: 25px;
  width: 145px;
  overflow: hidden;
}

.add-number-text {
  color: blue;
  font-size: 0.45rem;
  height: 10px;
}

.add-number-text a {
  text-decoration: none;
}

.btn {
  color: white;
  font-size: 1rem;
  background-color: #333;
  border-radius: 1000000000px;
  border: none;
  width: 35px;
  height: 35px;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.btn-call {
  grid-column: 2;
  color: white;
  font-size: 1.25rem;
  background-color: #333;
  border-radius: 1000000000px;
  border: none;
  width: 35px;
  height: 35px;
  background-color: rgb(111, 226, 121);
}

.btn-call:hover {
  cursor: pointer;
  background-color: rgb(94, 206, 103);
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: none;
  color: white;
  font-size: 0.85rem;
  background-color: #333;
  border-radius: 5px;
  border: none;
  width: 15px;
  height: 15px;
  padding: 9px;
  margin-top: 5px;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: rgb(63, 61, 61);
}

.btn-letters {
  font-size: 4.5px;
  font-weight: bold;
  padding: none;
  margin-top: -2px;
}

.btn-letters-0 {
  font-size: 7.5px;
  font-weight: bold;
  padding: none;
  margin-top: -4px;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}

.fa-phone {
  font-size: 0.8rem;
  padding-bottom: 5px;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
